.footer {
	font-size: .7em;
	color: rgba(117, 117, 117, 1);
	font-family: Arial, sans-serif;
}

.watermark {
	font-size: 1.55rem;
	color: rgba(117, 117, 117, 1);
	font-family: Arial, sans-serif;
	text-align: right;
}

.watermark div {
	padding: 5px;
	border: 1px solid gray;
	background-color: #f2f2f2;
	opacity: .6;
}

.footer-italics {
	font-style: italic;
}

.footer-semi-bold {
	font-weight: 600;
}

.header h1 {
	margin: 0;
	font-size: 1.5em;
}
